---
interface Props {
  title: string;
  description?: string;
}

const baseUrl = "https://missingcore.cyanchill.com";

const { title, description = "Apps by MissingCore." } = Astro.props;

const templateTitle =
  title === "MissingCore" ? title : `${title} | MissingCore`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

{/* Favicon */}
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="/android-chrome-512x512.png"
/>

<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="theme-color" content="#000000" />

<meta name="generator" content={Astro.generator} />

{/* Primary Meta Tags */}
<link rel="canonical" href={`${baseUrl}${Astro.url.pathname}`} />
<title>{templateTitle}</title>
<meta name="title" content={templateTitle} />
<meta name="description" content={description} />

{/* OpenGraph Meta Tags */}
<meta property="og:type" content="website" />
<meta property="og:url" content={`${baseUrl}${Astro.url.pathname}`} />
<meta property="og:title" content={templateTitle} />
<meta property="og:description" content={description} />

{/* Twitter Meta Tags */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={`${baseUrl}${Astro.url.pathname}`} />
<meta property="twitter:title" content={templateTitle} />
<meta property="twitter:description" content={description} />
