---
import { Icon } from "astro-icon/components";

import type { Distributor } from "~/data/Works";
import GlowBadge from "./GlowBadge.astro";

interface Props {
  versionCode: string;
  stable: boolean;
  links: Array<{ distributor: Distributor; link: string }>;
}

const { versionCode, stable, links } = Astro.props;
---

<div class="flex flex-row items-center justify-between gap-2">
  <div class="flex flex-row items-center gap-4">
    <p class="font-nynjara text-xl">{versionCode}</p>
    <GlowBadge
      text={stable ? "Stable" : "Pre-Release"}
      color={stable ? "#1DB159" : "#FF6600"}
      indicator={false}
    />
  </div>
  <div class="flex flex-row items-center gap-4">
    {
      links.map(({ distributor, link }) => (
        <a aria-label={`${distributor} listing`} href={link} target="_blank">
          <Icon name={`logo-${distributor}`} class="size-6 text-n-100" />
        </a>
      ))
    }
  </div>
</div>
