---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import type { Work } from "~/data/Works";

import GlowBadge from "./GlowBadge.astro";
import ReleaseLink from "./ReleaseLink.astro";

interface Props extends Work {}

const { key, name, description, tags, distributions, releases, privacyPolicy } =
  Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/projects/**/icon.png",
);
const iconImgPath = `/src/assets/projects/${key}/icon.png`;
if (!images[iconImgPath]) throw new Error(`"${iconImgPath}" does not exist.`);

const formattedReleases = releases.map(({ distributions: dists, ...rest }) => {
  return {
    ...rest,
    links: dists.map((distributor) => ({
      distributor,
      link:
        distributor === "github"
          ? `${distributions.github}/releases/${rest.versionCode}`
          : distributions["google-playstore"]!,
    })),
  };
});
---

<article
  class="flex aspect-video flex-col gap-8 rounded-xl border-2 border-n-100 p-4 shadow-glow"
>
  <header class="flex flex-row items-center gap-4">
    <Image
      src={images[iconImgPath]()}
      alt={`${name} app icon.`}
      class="size-16 rounded-xl border-2 border-n-100"
    />
    <div class="flex-1 gap-2 space-y-1">
      <h3 class="font-nynjara text-xl">{name}</h3>
      <p class="text-xs text-n-70 uppercase">{tags.join(" • ")}</p>
    </div>
    <GlowBadge text="Live" color="#D71921" indicator />
  </header>

  <p class="-mt-4">{description}</p>

  <div class="space-y-4">
    {formattedReleases.map((release) => <ReleaseLink {...release} />)}
  </div>
</article>
